a {
    text-decoration: none;
}

.active {
    background-color: gold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    /* background-color: #f1f1f1; */
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */

li a:hover {
    background-color: #555;
    color: white;
}